header{
    display: flex;
    width: 100vw;
    justify-content:flex-end;
}

.link{
    padding: 20px;
    margin: 30px;
    text-decoration: none;
    background-color: #ffb4b4;
    color: #fff;
    font-size: 1.2em;
}